body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background:#222;
  color:#eee;
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #111;
  color: #fff;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: #64b5f6;
  text-decoration: none;
}

.department-card {
  border: 1px solid #555;
  padding: 0.8rem;
  border-radius: 6px;
  margin-bottom: 1rem;
  background: #2a2a2a;
}

.role-card {
  border: 1px solid #444;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 6px;
  background: #292929;
}
